.quick-action-panel {
  padding: 8px;
}

.quick-action-panel .ap-display {
  font-weight: bold;
  margin-bottom: 10px;
}

.quick-action-panel .quick-action {
  display: flex;
  align-items: center;
  margin: 4px 0;
  padding: 4px 6px;
  border: 1px solid #666;
  border-radius: 6px;
  background: #222;
  color: #ddd;
}

.quick-action-panel .quick-action[disabled] {
  opacity: 0.4;
  pointer-events: none;
}

.quick-action-panel .action-icon {
  margin-right: 8px;
}

.quick-action {
  display: block;
  width: 100%;
  margin: 4px 0;
  padding: 5px;
}

